<!DOCTYPE html>
<html lang="en">
<style>
    body{
                background-image: url("./background.jpg");
                font-color:blue;
                background-repeat: no-repeat;
                background-size: 100%;
                height: 220px;
                width: auto;
                
            }#collapse{
                color:blue;
            }#text{
                color:blue;

            }
    

</style>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Uber</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!---<div id="wrapper">
            <a href="/"><h1 align="center">UBER</h1></a>
        </div>
    <div align="center">
      <button  onclick="location.href='/index/{{username}}'" class="col-xs-4">
          General Request Platform
       </button>
       <button  onclick="location.href='/appointment'" class="col-xs-4">
          Make An Appointment
       </button>
       <button  onclick="location.href='/agent'" class="col-xs-4">
          Agent View
       </button>
    </div>-->
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/index">
                        Home
                    </a>
                </li>
                 <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#cat"><i class="fa fa-fw fa-arrows-v"></i><strong>Categorised Issues</strong><i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="cat" class="collapse">
                            <li>
                                <a id = "text" href="/category_Issues"><strong>Lost Items</strong></a>
                            </li>
                            <li>
                                <a id = "text"font-color="red" href="/driver_handler"><strong>General Queries</strong></a>
                            </li>
                            <li>
                                <a id ="text"  href="/signup"><strong>Registration</strong></a>
                            </li>

                            <li>
                                <a id ="text"  href="/index"><strong>General Request Platform</strong></a>
                            </li>
                            
                            <li>
                                <a id ="text"  href="/UberRating"><strong>Please Rate Our Service</strong></a>
                            </li>
                            
                            
                             </ul>
                             <li>
                                <a  id ="text"href="http://www.Uber.com/"><strong>About</strong></a>
                            </li>
                            <li>
                                <a id ="text"  href="/login"><strong>Login Here</strong></a>
                            </li>
                     </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                         <h1 align="center">Welcome To UBER</h1>

<!--<div class="container">
    
    <div class="row">
        <div>
            <img class="col-xs-4" src="">
        </div>

        <div class="col-xs-4"> </div>
        
        <div>
            <img class="col-xs-4" src="">
        </div>
    </div>
</div>-->

<h3 align="center"></h3>
                        
                       
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- /#page-content-wrapper -->
        <div container="class theme-showcase" role="main">
                                <strong>{{{body}}}</strong>
                            </div>

        
        
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>









































