<!DOCTYPE html>
<html>
	<head>
		<title>Uber</title>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/main_page.css">
		<link href='static/css/simplesidebar.css' rel='stylesheet' type='text/css'>
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
</head>
	<body>
	<div align="center">
      <button  onclick="location.href='/index'" class="col-xs-4">
          General Request Platform
       </button>
       <button  onclick="location.href='/add_appointment'" class="col-xs-4">
          Make An Appointment
       </button>
       <button  onclick="location.href='/add_rating'" class="col-xs-4">
          Please Rate our Service
       </button>
       <button  onclick="location.href='/direct'" class="col-xs-4">
          Items Lost
       </button>
        <button  onclick="location.href='/direct'" class="col-xs-4">
          Register
       </button>
	</div>

			{{{body}}}

		<!-- main-container ends here -->
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  var socket = io();
  socket.emit('driver-waiting', 'lll');

  $('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
</script>

    <div class="footer-left">
      <div class="col-xs-2">Powered by <a href="http://www.projectcodex.co">CodeX</a></div>
    </div>
  </footer>
</body>



</html>