<div class="container">

  <h2>Make an Appointment</h2>
  <form method="GET">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <label for="comments">Subject:</label>
    <textarea name="comments" id="comments" cols="25" rows="5"></textarea>
    <input type="submit" onclick="location.href='/agent'">
  </form>

</div>