<div class="container">
  <table> 
    <h2>Agent Received Driver Appointment</h2>
    <thead>
    <tr>
      <th>Name</th><th>Driver e-mail</th><th>Comment</th><th>Date</th>
    </tr>
    </thead>
    <tr>
      <td>{{agent}}</td>
      <td>{{email}}</td>
      <td>{{comment}}</td>
      <td>{{date}}</td>
    </tr>
  </table>
</div>