    <div id="story" class=".col-md-6">
    {{#driver}}
    <form action="/index/{{username}}" method="Get">
        <input type="text" name="username" value="{{username}}">                    
        <input type="submit" value="username">
    </form>
    {{/driver}}
    </div>